<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ziv.librtsp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application>
        <activity
            android:name="com.ziv.librtsp.utils.aide.PermissionActivity"
            android:launchMode="singleInstance"
            android:theme="@style/TranslucentStyle"
            android:exported="true" >
        </activity>

        <service android:name="com.ziv.librtsp.rtsp.RtspService" />
    </application>
</manifest>